@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 1.2rem;

    border: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    color: @inverse_surface;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#window {
    border-radius: 5px;
    padding:0px 10px;
    background-color: @primary;
    color: @on_primary;
    font-weight: bold;
    font-size:1rem;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}


button {
    background-color: @primary;
    border: none;
    border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: @primary;
    color: @on_primary;
    margin: 0px 5px;
    border: 2px solid @inverse_primary
}

#workspaces button:hover {
    background: @primary_container;
    color: @on_surface;
}

#workspaces button.active {
  padding: 0px 25px;
}

#workspaces button.focused, #workspaces button.active {
    background-color: @primary_fixed;
    border: 2px solid #ffffff;
    color: @on_primary_fixed;
}

#workspaces button.urgent {
    background-color: @error;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#cpu,
#network,
#pulseaudio,
#mpd {
    padding: 5px 10px;
    background-color: #e8eaed;
    color: #121212;
    border-radius: 5px;
    font-weight: bold;
}

#window,
#workspaces {
    margin: 0 5px;
}

.modules-left{
    margin-left: 20px;
}

.modules-right{
    margin-right: 20px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @primary;
    border: 2px solid @tertiary_container;
    color: @on_primary;

    
}

#cpu {
    background-color: @primary;
    border: 2px solid @tertiary_container;
    color: @on_primary;
    
}

#memory {
    background-color: @secondary;
    color: @on_secondary;

}


#network {
    background-color: @primary;
    border: 2px solid @tertiary_container;
    color: @on_primary;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @primary;
    border: 2px solid @tertiary_container;
    color: @on_primary;
}

#pulseaudio:hover{
    background-color: @secondary;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}




#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;

}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px @inverse_primary;
    background-color: @surface;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @primary;
}

menu {
    border-radius: 15px;
    background: @surface;
    color: @onprimary;
}
menuitem {
    border-radius: 15px;
}